<nav>
    <ul>
        <li>
            <a routerLink="/directives/ngclass">NgClass</a>
        </li>
        <li>
            <a routerLink="/directives/ngmodel">NgModel</a>
        </li>
        <li>
            <a routerLink="/directives/ngif">NgIf</a>
        </li>
        <li>
            <a routerLink="/directives/ngfor">NgFor</a>
        </li>
        <li>
            <a routerLink="/directives/ngswitch">NgSwitch</a>
        </li>
        <li>
            <a routerLink="/directives/attribute-directive">Attribute Directive</a>
        </li>
        <li>
            <a routerLink="/directives/ngcontainer">NgContainer</a>
        </li>
    </ul>
</nav>
