<!-- <h2>Pipes</h2>
<p>This word will always be uppercase: {{word | uppercase}} </p>
<p>This word will always be lowercase: {{word | uppercase | lowercase}} </p>
<p>This object will display it's json: {{item | json}} </p>
<br/>
<h2>Save Navigation</h2>
<p>DeepItem = {{deepItem | json}}</p>
<p>deepItem.item.name= {{deepItem.item.name}}</p>
<p>deepItem?.ted?.count= {{deepItem?.ted?.count}}</p> -->
<!-- The below line will cause the rest of the template to not render -->
<!-- <p>The item count is: {{deepItem.ted.count}}</p> -->
