<nav>
    <ul>
        <li>
            <a routerLink="/templates/interpolation">Interpolation</a>
        </li>
        <li>
            <a routerLink="/templates/template-statements">Template Statements</a>
        </li>
        <li>
            <a routerLink="/templates/binding-syntax">Data Binding</a>
        </li>
        <li>
            <a routerLink="/templates/property-binding">Property Binding</a>
        </li>
        <li>
            <a routerLink="/templates/attribute-binding">Attribute Binding</a>
        </li>
        <li>
            <a routerLink="/templates/class-binding">Class Binding</a>
        </li>
        <li>
            <a routerLink="/templates/event-binding">Event Binding</a>
        </li>
        <li>
            <a routerLink="/templates/event-emitting-binding">Event Emitting Binding</a>
        </li>
        <li>
            <a routerLink="/templates/two-way-binding">Two-Way Binding</a>
        </li>
        <li>
            <a routerLink="/templates/template-reference-variable">Template Reference Variable</a>
        </li>
        <li>
            <a routerLink="/templates/template-expression-operators">Template Expression Operators</a>
        </li>
        <li>
            <a routerLink="/templates/svg">Svgs</a>
        </li>
    </ul>
</nav>
